* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  width: clamp(240px, 100%, 1200px);
  background-color: rgb(255, 200, 122);
}

a {
  text-decoration: none;
}

/* Nav menu */
nav {
  height: 75px;
  width: 100%;
  background-color: rgb(255, 200, 122);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 10px 0 15px 30px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-shadow: 1px 1px 2px black;
  text-decoration: double;
}

.logo img {
  width: 50px;
  backdrop-filter: drop-shadow(4px 4px 10px black);
}

.nav-list {
  position: fixed;
  width: 100%;
  height: 0;
  top: 75px;
  background: rgb(255, 200, 122);
  float: right;
  text-align: center;
  transition: all .5s;
  display: none;
}

.nav-list li {
  opacity: 0;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
}

.nav-list li a {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

.nav-list li a.active, .nav-list li a:hover {
  color: rgb(41, 41, 41);
  transition: .5s;
}

.hamburger-btn {
  display: block;
  font-size: 20px;
  color: #fff;
  float: right;
  line-height: 75px;
  cursor: pointer;
  padding-right: 30px;
  text-shadow: 1px 1px 8px black;
}

#check {
  display: none;
}

#check:checked ~ .nav-list {
  display: block;
  height: 100vh;
}

#check:checked ~ .nav-list li {
  opacity: 1;
}

/* End of nav */

/* Main section */

#home {
  width: 80%;
  border: 3px solid black;
  border-radius: 20px;
  margin: 25px auto;
  padding: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home h3 {
  font-size: 20px;
  font-weight: 800;
}

#home a {
  text-decoration: underline;
  color: inherit;
}

#home a:hover {
  color: rgb(255, 200, 122);
}

#home p {
  padding-top: 10px;
}

hr {
  margin: 20px auto;
  width: 60%;
  height: 5px;
  background-color: rgb(255, 200, 122);
  border: none;
  border-radius: 5px;
}

.home-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-title {
  padding-top: 5px;
}

.services-desc {
  padding: 0 5px 10px;
}

.services-img {
  padding-top: 10px;
  width: 75%;
  border-radius: 50%;
}

.service-card {
  width: 90%;
  border-radius: 5px;
  padding: 2px;
}

footer {
  margin: 20px;
  background: inherit;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h3 {
  font-size: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  text-decoration: double;
  padding-bottom: 10px;
}

.fa-brands {
  width: 30px;
  padding: 0 10px;
  text-shadow: 1px 1px 2px black;
  text-decoration: double;
}

/* End of main */